html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  flex-shrink: 0;
  text-align: center;
}

/* Estilo para o título */
.page-title {
  font-size: 2rem;
  font-weight: bold;
  color: #343a40;
  margin: 2rem 0;
}

/* Cards */
.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
  color: #343a40;
}

.card-text {
  color: #6c757d;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 3;
  /* Define o número máximo de linhas */
  -webkit-line-clamp: 3;
  min-height: calc(1.5rem * 3);
}

/* Estilo para o menu lateral */
.offcanvas {
  background-color: #343a40;
  /* Fundo escuro */
  color: #fff;
  /* Texto branco */
}

.offcanvas .offcanvas-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffc107;
  /* Destaque para o título */
}

.offcanvas-body ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.offcanvas-body ul li {
  margin-bottom: 1rem;
  /* Espaçamento entre os itens */
}

.offcanvas-body ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  display: block;
  border-radius: 5px;
}

.offcanvas-body ul li a:hover {
  background-color: #ffc107;
  /* Fundo amarelo no hover */
  color: #343a40;
  /* Texto escuro no hover */
}

/* Botão principal */
.btn-primary {
  background-color: #ffc107;
  border: none;
  color: #343a40;
}

.btn-primary:hover {
  background-color: #e0a800;
}

/* Modal */

#questionModal {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: grey;
  min-height: 200px;
  border-radius: 5px;
}

.comments {
  max-height: 120px;
  overflow-y: scroll;
  overflow-x: visible;
}

.comments ul {
  padding: 0;
}

.comment-box {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #f9f9f9;
  width: 100%;
}

.comment-header {
  font-size: 1em;
  color: rgb(71, 71, 223);
  text-transform: uppercase;
}

.comment-body p {
  margin: 12px 0;
  font-size: 1em;
  color: #333;
}

.comment-rating {
  display: flex;
  align-items: center;
}

.stars {
  margin-left: 8px;
  display: inline-flex;
}

.star {
  font-size: 1.5em;
  color: #ccc;
  cursor: pointer;
}

.star:hover,
.star.selected {
  color: gold;
}