body {
    background-color: #f8f9fa; /* Cor de fundo clara */
    height: 100vh; /* Altura total da tela */
}
header {
    flex: 0 0 auto; /* O cabeçalho ocupa apenas o espaço necessário */
}

footer {
    background-color: blue;
    height: 75px;
    width: 100%;
    position: fixed;
    bottom: 0;
}