<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    
    <link rel="stylesheet" th:href="@{/css/auth.css}"/>
    <title>Game Class</title>
  </head>
  <body>
    <header class="bg-light text-center py-4 mt-5">
      <h1>Bem-vindo ao <span style="color: #0078f0">Game Class!</span></h1>
      <p class="lead">Facilitando o dia a dia escolar a cada passo.</p>
    </header>

    <div class="container body-content">
      <div class="row main-content">
        
        <!-- Register block -->
        <div class="col-md-8 block-content block-register">
          <h1 class="card-title text-center poetsen-one-font">
            Criar Sua Conta
          </h1>
          <form id="registerForm">
            <div class="form-group input-with-icon">
              <label for="username">Nome de Usuário</label>
              <input
                type="text"
                class="form-control"
                id="registerUsername"
                name="registerUsername"
                placeholder="Digite seu nome de usuário"
                required
              />
              <i class="fas fa-user icon"></i>
            </div>
            <div class="form-group input-with-icon">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                name="registerEmail"
                id="registerEmail"
                placeholder="Digite seu email"
                required
              />
              <i class="fas fa-envelope icon"></i>
            </div>
            <div class="form-group input-with-icon">
              <label for="password">Senha</label>
              <input
                type="password"
                class="form-control"
                name="registerPassword"
                id="registerPassword"
                placeholder="Digite sua senha"
                required
              />
              <i class="fas fa-lock icon"></i>
            </div>
            <div class="form-group input-with-icon">
              <label for="cpf">CPF</label>
              <input
                type="text"
                class="form-control"
                name="registerCpf"
                id="registerCpf"
                placeholder="Digite seu CPF"
                required
              />
              <i class="fas fa-lock icon"></i>
            </div>
            <div class="form-group">
              <select name="registerUserType" id="registerUserType" class="form-control" required>
                <option value="">Tipo de usuário</option>
                <option value="TEACHER">Professor</option>
                <option value="STUDENT">Aluno</option>
              </select>
            </div>
            <div style="text-align: center;" th:if="${registerError}" th:text="${registerError}" class="alert alert-danger" role="alert"></div>
            <button type="submit" class="btn btn-primary btn-block">
              Registrar-se
            </button>
          </form>
        </div>

        <!-- Login block -->
        <div class="col-md-4 block-content block-login">
          <h1 class="card-title text-center mb-4">
            <span style="color: #0078f0">LOGIN</span>
          </h1>
          <form id="loginForm">
            <div class="form-group input-with-icon">
              <label for="username">Nome de Usuário</label>
              <input
                type="text"
                class="form-control"
                id="loginUsername"
                name="username"
                placeholder="Digite seu nome de usuário"
                required
              />
              <i class="fas fa-user icon"></i>
            </div>
            <div class="form-group input-with-icon">
              <label for="password">Senha</label>
              <input
                type="password"
                class="form-control"
                id="loginPassword"
                name="password"
                placeholder="Digite sua senha"
                required
              />
              <i class="fas fa-lock icon"></i>
            </div>
            <div style="text-align: center;" th:if="${loginError}" th:text="${loginError}" class="alert alert-danger" role="alert"></div>
            <button type="submit" class="btn btn-primary btn-block">
              Entrar
            </button>
          </form>
        </div>
      </div>
    </div>
    <footer class="bg-dark text-white text-center py-3">
      <div class="container">
        <p class="mb-0">
          &copy; 2024 Game Class. Todos os direitos reservados.
        </p>
        <p class="mb-0">Facilitando o dia a dia escolar a cada passo.</p>
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>

    <script th:src="@{/scripts/auth.js}"></script>
  </body>
</html>
